body {
  background-color: #eeeeee;
  color: #393e46;
}

a:visited {
  color: #1597bb;
}

a:link {
  color: #ce1212;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #393e46;
  border-width: 8px;
  width: 10%;
}

h1, h3 {
  color: #393e46;
}

img {
  border-radius: 100%;
}
